Import packages

In [1]:
import pandas as pd
import numpy as np
import datetime #For #9
pd.set_option('max_columns', None) #Show all columns, or else some will just be "..."

In [2]:
df = pd.read_csv("./input/google_app_scrap.csv")
df.head()

,Unnamed: 0,APP_NAME,RATING,CATEGORY,COLLECTIONS,RATING_COUNT,1_STAR_RATINGS,2_STAR_RATINGS,3_STAR_RATINGS,4_STAR_RATINGS,5_STAR_RATINGS,REVIEW_COUNT,INSTALLS,MIN_INSTALLS,MAX_INSTALLS,FREE,PRICE,CURRENCY,SIZE,DEVELOPER,DEVELOPER_ADDRESS,CONTENT_RATING,FAMILY_GENRE,AD_SUPPORTED,IN_APP_PURCHASES,RELEASED_DATE,LAST_UPDATED,DAY_SCRAPED
0,0,Skincare Routine,4.510000,Beauty,topselling_paid,608.0,34,11,23,65,464,89.0,"10,000+",10000,17566,False,3.99,USD,16M,Mento Apps Ltd,23 Stoneleigh Avenue\nBN1 8NP,Everyone,NaN,False,False,"Aug 13, 2018",14/2/22,1/3/22
1,1,TurboScan: scan documents and receipts in PDF,4.800429,Business,topselling_paid,17641.0,340,75,189,1551,15479,2229.0,"100,000+",100000,259589,False,4.99,USD,Varies with device,Piksoft Inc.,"2500 Santa Clara Ave, Alameda, CA 94501",Everyone,NaN,False,False,"Apr 7, 2014",13/5/21,1/3/22
2,2,Package Disabler Pro (Owner),2.420000,Business,topselling_paid,742.0,421,36,50,7,221,163.0,"10,000+",10000,23412,False,1.49,USD,7.1M,policedeveloper,"Reading, Berkshire, RG6 3BT, United Kingdom",Everyone,NaN,False,False,"Nov 9, 2018",21/2/22,1/3/22
3,3,FX File Explorer (Plus License Key),4.284404,Business,topselling_paid,3452.0,315,94,315,283,2436,330.0,"100,000+",100000,105424,False,2.99,USD,Varies with device,"NextApp, Inc.","2549-B Eastbluff Drive #201\nNewport Beach, CA...",Everyone,NaN,False,False,"Sep 20, 2012",22/5/18,1/3/22
4,4,Jump Desktop (RDP & VNC),4.058394,Business,topselling_paid,3332.0,484,168,168,338,2163,994.0,"50,000+",50000,55881,False,4.99,USD,Varies with device,PhaseFive Systems,"POBOX 504905 DUBAI, UAE",Everyone,NaN,False,False,"Aug 17, 2011",4/8/18,1/3/22

## Data Cleaning

Basic statistical analysis with scraped data

In [3]:
df.describe(include="all")

,Unnamed: 0,APP_NAME,RATING,CATEGORY,COLLECTIONS,RATING_COUNT,1_STAR_RATINGS,2_STAR_RATINGS,3_STAR_RATINGS,4_STAR_RATINGS,5_STAR_RATINGS,REVIEW_COUNT,INSTALLS,MIN_INSTALLS,MAX_INSTALLS,FREE,PRICE,CURRENCY,SIZE,DEVELOPER,DEVELOPER_ADDRESS,CONTENT_RATING,FAMILY_GENRE,AD_SUPPORTED,IN_APP_PURCHASES,RELEASED_DATE,LAST_UPDATED,DAY_SCRAPED
count,23873.000000,23873,23857.000000,23873,23873,2.385700e+04,2.387300e+04,2.387300e+04,2.387300e+04,2.387300e+04,2.387300e+04,2.385700e+04,23873,2.387300e+04,2.387300e+04,23873,23873.000000,23873,23873,23873,19270,23873,0.0,23873,23873,23681,23873,23873
unique,NaN,18448,NaN,48,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,2,NaN,1,670,12331,8590,5,NaN,2,2,3934,1598,1
top,NaN,Solitaire,NaN,Sports,topselling_free,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,000,000+",NaN,NaN,True,NaN,USD,Varies with device,My Town Games Ltd,"Ha-Rekhev St 1, Tel Aviv-Yafo",Everyone,NaN,False,True,"Nov 9, 2021",24/2/22,1/3/22
freq,NaN,28,NaN,946,10399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4401,NaN,NaN,18318,NaN,23873,3190,140,140,17487,NaN,12217,14297,33,898,23873
mean,11936.000000,NaN,3.973446,NaN,NaN,3.805085e+05,4.255446e+04,9.158966e+03,1.775779e+04,4.151404e+04,2.692438e+05,1.745906e+04,NaN,1.896055e+07,3.076583e+07,NaN,1.443526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,6891.685824,NaN,1.068241,NaN,NaN,3.609019e+06,7.755251e+05,9.935883e+04,1.713797e+05,3.554295e+05,2.385257e+06,1.173932e+05,NaN,2.228155e+08,2.837133e+08,NaN,9.265310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,0.000000,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,5968.000000,NaN,3.880000,NaN,NaN,6.100000e+02,5.600000e+01,1.100000e+01,2.200000e+01,4.900000e+01,3.740000e+02,6.100000e+01,NaN,5.000000e+04,5.396800e+04,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,11936.000000,NaN,4.297787,NaN,NaN,8.103000e+03,6.560000e+02,1.790000e+02,3.250000e+02,7.320000e+02,5.409000e+03,5.410000e+02,NaN,5.000000e+05,7.966040e+05,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,17904.000000,NaN,4.560000,NaN,NaN,6.978300e+04,5.473000e+03,1.617000e+03,3.045000e+03,7.267000e+03,4.930900e+04,4.082000e+03,NaN,5.000000e+06,7.324750e+06,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,23872.000000,NaN,5.000000,NaN,NaN,1.567285e+08,4.959688e+07,4.206020e+06,7.587245e+06,1.613837e+07,1.122200e+08,4.322473e+06,NaN,1.000000e+10,1.135445e+10,NaN,400.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23873 entries, 0 to 23872
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         23873 non-null  int64
 1   APP_NAME           23873 non-null  object
 2   RATING             23857 non-null  float64
 3   CATEGORY           23873 non-null  object
 4   COLLECTIONS        23873 non-null  object
 5   RATING_COUNT       23857 non-null  float64
 6   1_STAR_RATINGS     23873 non-null  int64
 7   2_STAR_RATINGS     23873 non-null  int64
 8   3_STAR_RATINGS     23873 non-null  int64
 9   4_STAR_RATINGS     23873 non-null  int64
 10  5_STAR_RATINGS     23873 non-null  int64
 11  REVIEW_COUNT       23857 non-null  float64
 12  INSTALLS           23873 non-null  object
 13  MIN_INSTALLS       23873 non-null  int64
 14  MAX_INSTALLS       23873 non-null  int64
 15  FREE               23873 non-null  bool
 16  PRICE              23873 non-null  float64
 17  CURRENCY           23873 non-null  object
 18  SIZE               23873 non-null  object
 19  DEVELOPER          23873 non-null  object
 20  DEVELOPER_ADDRESS  19270 non-null  object
 21  CONTENT_RATING     23873 non-null  object
 22  FAMILY_GENRE       0 non-null      float64
 23  AD_SUPPORTED       23873 non-null  bool
 24  IN_APP_PURCHASES   23873 non-null  bool
 25  RELEASED_DATE      23681 non-null  object
 26  LAST_UPDATED       23873 non-null  object
 27  DAY_SCRAPED        23873 non-null  object
dtypes: bool(3), float64(5), int64(8), object(12)
memory usage: 4.6+ MB

Remove columns "Unnamed: 0". "FAMILY_GENRE", "DAY_SCRAPED", "CURRENCY" as they contain same/empty values which will be useless in eda

In [5]:
df = df.drop(columns=['Unnamed: 0', 'FAMILY_GENRE', 'DAY_SCRAPED', 'CURRENCY'])
df.columns

Index(['APP_NAME', 'RATING', 'CATEGORY', 'COLLECTIONS', 'RATING_COUNT',
       '1_STAR_RATINGS', '2_STAR_RATINGS', '3_STAR_RATINGS', '4_STAR_RATINGS',
       '5_STAR_RATINGS', 'REVIEW_COUNT', 'INSTALLS', 'MIN_INSTALLS',
       'MAX_INSTALLS', 'FREE', 'PRICE', 'SIZE', 'DEVELOPER',
       'DEVELOPER_ADDRESS', 'CONTENT_RATING', 'AD_SUPPORTED',
       'IN_APP_PURCHASES', 'RELEASED_DATE', 'LAST_UPDATED'],
      dtype='object')

### Cleaning RATING_COUNT
The RATING_COUNT column has inconsistent values, change the values in RATING_COUNT column to the sum of 1_STAR_RATING, 2_STAR_RATING, 3_STAR_RATING, 4_STAR_RATING, 5_STAR_RATING columns

In [6]:
df['RATING_COUNT'] = df[['1_STAR_RATINGS', '2_STAR_RATINGS', '3_STAR_RATINGS', '4_STAR_RATINGS', '5_STAR_RATINGS']].sum(axis=1)
df.head()

,APP_NAME,RATING,CATEGORY,COLLECTIONS,RATING_COUNT,1_STAR_RATINGS,2_STAR_RATINGS,3_STAR_RATINGS,4_STAR_RATINGS,5_STAR_RATINGS,REVIEW_COUNT,INSTALLS,MIN_INSTALLS,MAX_INSTALLS,FREE,PRICE,SIZE,DEVELOPER,DEVELOPER_ADDRESS,CONTENT_RATING,AD_SUPPORTED,IN_APP_PURCHASES,RELEASED_DATE,LAST_UPDATED
0,Skincare Routine,4.510000,Beauty,topselling_paid,597,34,11,23,65,464,89.0,"10,000+",10000,17566,False,3.99,16M,Mento Apps Ltd,23 Stoneleigh Avenue\nBN1 8NP,Everyone,False,False,"Aug 13, 2018",14/2/22
1,TurboScan: scan documents and receipts in PDF,4.800429,Business,topselling_paid,17634,340,75,189,1551,15479,2229.0,"100,000+",100000,259589,False,4.99,Varies with device,Piksoft Inc.,"2500 Santa Clara Ave, Alameda, CA 94501",Everyone,False,False,"Apr 7, 2014",13/5/21
2,Package Disabler Pro (Owner),2.420000,Business,topselling_paid,735,421,36,50,7,221,163.0,"10,000+",10000,23412,False,1.49,7.1M,policedeveloper,"Reading, Berkshire, RG6 3BT, United Kingdom",Everyone,False,False,"Nov 9, 2018",21/2/22
3,FX File Explorer (Plus License Key),4.284404,Business,topselling_paid,3443,315,94,315,283,2436,330.0,"100,000+",100000,105424,False,2.99,Varies with device,"NextApp, Inc.","2549-B Eastbluff Drive #201\nNewport Beach, CA...",Everyone,False,False,"Sep 20, 2012",22/5/18
4,Jump Desktop (RDP & VNC),4.058394,Business,topselling_paid,3321,484,168,168,338,2163,994.0,"50,000+",50000,55881,False,4.99,Varies with device,PhaseFive Systems,"POBOX 504905 DUBAI, UAE",Everyone,False,False,"Aug 17, 2011",4/8/18

### Cleaning INSTALL
The INSTALL column is filled with string values, remove '+' sign from the string and convert the string in numerical

In [7]:
df["INSTALLS"] = df["INSTALLS"].str.replace("+","")
df["INSTALLS"] = df["INSTALLS"].str.replace(",","")
df['INSTALLS'] = df['INSTALLS'].astype(str).astype('int64')
df["INSTALLS"]

<ipython-input-7-d1f641f37301>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df["INSTALLS"] = df["INSTALLS"].str.replace("+","")

0          10000
1         100000
2          10000
3         100000
4          50000
          ...
23868    1000000
23869     100000
23870      50000
23871      10000
23872     100000
Name: INSTALLS, Length: 23873, dtype: int64

### Dealing with NULL Values
There are null values in columns "REVIEW_COUNT", "RATING", "RATING_COUNT", remove them

In [8]:
df = df.dropna(axis=0, subset=['REVIEW_COUNT', 'RATING', 'RATING_COUNT'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23857 entries, 0 to 23872
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   APP_NAME           23857 non-null  object
 1   RATING             23857 non-null  float64
 2   CATEGORY           23857 non-null  object
 3   COLLECTIONS        23857 non-null  object
 4   RATING_COUNT       23857 non-null  int64
 5   1_STAR_RATINGS     23857 non-null  int64
 6   2_STAR_RATINGS     23857 non-null  int64
 7   3_STAR_RATINGS     23857 non-null  int64
 8   4_STAR_RATINGS     23857 non-null  int64
 9   5_STAR_RATINGS     23857 non-null  int64
 10  REVIEW_COUNT       23857 non-null  float64
 11  INSTALLS           23857 non-null  int64
 12  MIN_INSTALLS       23857 non-null  int64
 13  MAX_INSTALLS       23857 non-null  int64
 14  FREE               23857 non-null  bool
 15  PRICE              23857 non-null  float64
 16  SIZE               23857 non-null  object
 17  DEVELOPER          23857 non-null  object
 18  DEVELOPER_ADDRESS  19259 non-null  object
 19  CONTENT_RATING     23857 non-null  object
 20  AD_SUPPORTED       23857 non-null  bool
 21  IN_APP_PURCHASES   23857 non-null  bool
 22  RELEASED_DATE      23675 non-null  object
 23  LAST_UPDATED       23857 non-null  object
dtypes: bool(3), float64(3), int64(9), object(9)
memory usage: 4.1+ MB

### Cleaning FREE, AD_SUPPORTED & IN_APP_PURCHASES
FREE , AD_SUPPORTED  & IN_APP_PURCHASES contains boolean values, convert them to numerical by mapping True to 1 and False to 0

In [9]:
df['FREE'] = df["FREE"].astype(int)
df['AD_SUPPORTED'] = df["AD_SUPPORTED"].astype(int)
df['IN_APP_PURCHASES'] = df["IN_APP_PURCHASES"].astype(int)
print("Data type of FREE:", df.dtypes["FREE"])
print("Data type of AD_SUPPORTED:", df.dtypes["AD_SUPPORTED"])
print("Data type of IN_APP_PURCHASES:", df.dtypes["IN_APP_PURCHASES"])
df.sample(5)

Data type of FREE: int32
Data type of AD_SUPPORTED: int32
Data type of IN_APP_PURCHASES: int32

,APP_NAME,RATING,CATEGORY,COLLECTIONS,RATING_COUNT,1_STAR_RATINGS,2_STAR_RATINGS,3_STAR_RATINGS,4_STAR_RATINGS,5_STAR_RATINGS,REVIEW_COUNT,INSTALLS,MIN_INSTALLS,MAX_INSTALLS,FREE,PRICE,SIZE,DEVELOPER,DEVELOPER_ADDRESS,CONTENT_RATING,AD_SUPPORTED,IN_APP_PURCHASES,RELEASED_DATE,LAST_UPDATED
22709,The Prince of Tennis II: RB,4.350000,Music,topgrossing,155,11,7,5,16,116,44.0,10000,10000,13941,1,0.00,83M,"Ambition co., ltd.",3-4-3\nNBF 3F/ 13F,Everyone,1,1,"Jun 28, 2021",21/2/22
6322,"Crypto App - Widgets, Alerts, News, Bitcoin Pr...",4.569445,Finance,topgrossing,78671,2834,1193,3163,12564,58917,2523.0,1000000,1000000,2298208,1,0.00,17M,TrustSwap Inc.,11923 139 Street Northwest\nEdmonton,Everyone,1,1,"Sep 9, 2017",15/12/21
9197,MTA eTix,3.628788,Maps & Navigation,topselling_free,1349,296,102,112,132,707,604.0,500000,500000,907090,1,0.00,10M,Metropolitan Transportation Authority.,NaN,Everyone,0,0,"Jun 6, 2016",21/2/22
16120,Hero Squad!,3.904324,Arcade,topgrossing,38642,5902,1562,4121,5794,21263,1815.0,1000000,1000000,3409543,1,0.00,64M,8SEC Games,15 RUE DES CUIRASSIERS\n69003 LYON,Teen,1,1,"Jun 22, 2021",28/2/22
15485,Construction Master 5,4.730000,Tools,topselling_paid,700,27,0,20,34,619,235.0,10000,10000,38923,0,24.99,7.6M,Calculated Industries,"4840 Hytech Drive\nCarson City, NV 89607",Everyone,0,0,"Aug 8, 2011",2/10/20

### Cleaning SIZE
SIZE contains string objects, convert them to number for eda later. <br/>
For example: 12M -> 12000000, 12K -> 12000, varies with device -> -1 (drop this later)

In [10]:
df["SIZE"] = df["SIZE"].str.replace("Varies with device","-1") #replacing "Varies with device" with -1
df["SIZE"] = df["SIZE"].str.replace(",","") #replacing ',' with nothing

In [11]:
#changing k to (10**3), M to (10**6) and G to (10**9)
df["SIZE"] = (df["SIZE"].replace(r'[kMG]+$', '', regex=True).astype(float) * \
                   df["SIZE"].str.extract(r'[\d\.]+([kMG]+)', expand=False)
                   .fillna(1)
                   .replace(['k','M','G'], [10**3, 10**6,10**9]).astype(int))
df['SIZE'] = df['SIZE'].astype('int64') #converting float to int64
df['SIZE']

0        16000000
1              -1
2         7100000
3              -1
4              -1
           ...
23868    24000000
23869     6700000
23870          -1
23871    26000000
23872    10000000
Name: SIZE, Length: 23857, dtype: int64

### Cleaning DAY_RELEASED
The format of dates in DAY_RELEASED is inconsistent to format of dates in LAST_UPDATED, convert both of them to the format "dd/mm/yyyy"

In [12]:
df['RELEASED_DATE'] = pd.to_datetime(df['RELEASED_DATE'])
df['LAST_UPDATED'] = pd.to_datetime(df['LAST_UPDATED'])
df['RELEASED_DATE'] = df['RELEASED_DATE'].dt.strftime('%d/%m/%Y')
df['LAST_UPDATED'] = df['LAST_UPDATED'].dt.strftime('%d/%m/%Y')
df.sample(5)

,APP_NAME,RATING,CATEGORY,COLLECTIONS,RATING_COUNT,1_STAR_RATINGS,2_STAR_RATINGS,3_STAR_RATINGS,4_STAR_RATINGS,5_STAR_RATINGS,REVIEW_COUNT,INSTALLS,MIN_INSTALLS,MAX_INSTALLS,FREE,PRICE,SIZE,DEVELOPER,DEVELOPER_ADDRESS,CONTENT_RATING,AD_SUPPORTED,IN_APP_PURCHASES,RELEASED_DATE,LAST_UPDATED
1335,SAP Concur,4.397850,Business,topselling_free,79590,6663,1492,2748,11289,57398,17185.0,5000000,5000000,6188919,1,0.00,97000000,"Concur Technologies, Inc.","601 108th Ave NE, Suite 1000, Bellevue, WA 980...",Everyone,0,0,04/06/2010,23/02/2022
12655,Toca Kitchen 2,4.062556,Educational,topselling_free,1633049,230467,70223,113332,171647,1047380,59976.0,100000000,100000000,177475360,1,0.00,29000000,Toca Boca,Lumaparksvgen 9\n120 31 Stockholm\nSweden,Everyone,1,0,25/05/2015,19/01/2022
14877,Weather & Widget - Weawow,4.894158,Weather,topselling_free,448575,3611,1941,3263,20645,419115,31910.0,1000000,1000000,4817129,1,0.00,9800000,weawow weather app,"Tama-shi, Tokyo, Japan",Teen,0,1,01/05/2017,02/09/2022
20389,FPV Freerider,4.240000,Simulation,topselling_paid,1424,84,96,113,214,917,225.0,10000,10000,43843,0,2.99,88000000,FPV Freerider,John Holmvall\nDragongatan 12A\n903 22 Ume\nS...,Everyone,0,0,07/05/2015,08/04/2021
1422,BlueJeans Video Conferencing,4.371429,Business,topselling_free,17110,1385,527,894,1830,12474,1491.0,1000000,1000000,4437596,1,0.00,52000000,BlueJeans Network,NaN,Everyone,0,0,13/11/2013,02/11/2022

In [13]:
#exporting the cleaned data into a csv file
file_path = "./output/google_app_scrap_cleaned.csv"
df.to_csv(path_or_buf=file_path, index=False);